*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #548697;
    text-align: center;
}
.container{
    height: 70vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;   

}
.game{
    height: 60vh;
    width: 60vh;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #b0413e;
    border: none;
    background-color: rgb(233, 253, 163);
    

}
.reset{
    height: 3rem;
    width: 9rem;
    color:white;
    background-color: black;
    border-radius: 2rem;
    font-size: 1rem;
    border: none;

}
#new-btn{
     height: 3rem;
    width: 9rem;
    color:white;
    background-color: black;
    border-radius: 2rem;
    font-size: 1rem;
    border: none;  
}
#msg{
    color: #ffffcf;
    font-size: 5vmin ;

}
.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
.hide{
    display: none;
}


@media(max-width:780px){
    .game{
        height: 40vh;
        width: 40vh;
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .box{
        height:20vmin;
        width: 20vmin;
        font-size: 10vmin;

    }
    .container{
        height:70vh;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .msg-container{
        height: 172vmin;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
    }
    .hide{
        display: none;
    }
}


